* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
hr {
  margin-left: 0;
  margin-right: 0;
}
.bg-default {
  background-color: #004083;
}
body {
  padding-bottom: 70px;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.back-button {
  position: absolute;
  border-radius: 50%;
  padding: 3px 12px;
  z-index: 1;
}
